PORT=3000
DATABASE_URL=
DATABASE_NAME=workshop-dev

# AUTH
AUTH_ISSUER=workshop
AUTH_SECRET_KEY=secret123

# CLOUDINARY

CLD_API_KEY=
CLD_API_SECRET=
CLD_NAME=
CLOUDINARY_URL=

# SMTP MAIL (DEV)
MAIL_FROM_NAME=Workshop App
MAIL_FROM_ADDRESS=no-reply@workshop.app
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_SECURE=
MAIL_USERNAME=
MAIL_PASSWORD=

# MAILGUN
MAILGUN_DOMAIN=
MAILGUN_APIKEY=
